<a href="https://colab.research.google.com/github/Tanveer132/Dimensionality-Reduction-Techniques-in-ML/blob/main/FST_Practice_SVD_on_diabetes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Singular value decomposition

To reduce dimensionality

Data- Diabetes

##import, clean and split data

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.decomposition import TruncatedSVD
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline

In [2]:
df=pd.read_csv('/content/diabetes.csv')
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [3]:
df.shape

(768, 9)

In [4]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
x=df.drop(columns='Outcome')
y=df['Outcome']

In [6]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

##Apply reduction technoque

In [7]:
svd=TruncatedSVD()
xtrain=svd.fit_transform(xtrain)
xtest=svd.fit_transform(xtest)

In [8]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(xtrain,ytrain)

ypred=model.predict(xtest)

print("Accuracy : ",accuracy_score(ytest,ypred))

Accuracy :  0.7597402597402597

##Create pipeline to get accuracy for different components

In [9]:
components=list(range(2,x.shape[1]))
components

[2, 3, 4, 5, 6, 7]

In [10]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=0)

for i in components:
  model = Pipeline([("SVD",TruncatedSVD(n_components=i)),
                  ("Logistic Regression",LogisticRegression())])
  model_fit=model.fit(xtrain,ytrain)
  ypred=model_fit.predict(xtest)
  print("Accuracy for component {} is {} ".format(i,accuracy_score(ytest,ypred)))

Accuracy for component 2 is 0.7727272727272727
Accuracy for component 3 is 0.7532467532467533
Accuracy for component 4 is 0.7402597402597403
Accuracy for component 5 is 0.7597402597402597
Accuracy for component 6 is 0.7987012987012987
Accuracy for component 7 is 0.8116883116883117